/* Colors: https://coolors.co/app/1e3888-47a8bd-f5e663-ffad69-9c3848 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #444;
}

p {
  margin: 0 0 1em;
  line-height: 1.4;
}

.messages {
  height: 92vh;
  overflow-y: scroll;
}

.message {
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid #eee;
}

.user {
  background-color: #f5f5f5;
}

.input {
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sender {
  font-weight: bold;
}

.chat-input {
  display: block;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #eee;
  width: 100%;
  resize: none;
  font-family: inherit;
  font-size: 1em;
  padding: 1em;
  height: 8vh;
}

.chat-input:focus {
  box-shadow: 0 0 10px #ccc inset;
}

@media screen and (max-height: 600px) {
  .chat {
    font-size: 14px;
  }

  .messages {
    height: 85vh;
  }

  .chat-input {
    height: 15vh;
  }
}

.welcome {
  background-color: #eee;
  padding: 1em;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  color: #666;
}

.info {
  color: #999;
  font-style: italic;
}

.index {
  text-align: center;
  padding-top: 2em;
  font-family: 'Open Sans', sans-serif;
}

.index h1 {
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 0.5em;
  font-weight: 200;
}

.index p {
  font-size: 1.4em;
  color: #999;
  margin-bottom: 2em;
}

.index input {
  font-size: 1em;
  display: inline-block;
  border: none;
  background: #eee;
  font-family: inherit;
  padding: 1em;
}

.index .submit {
  color: #fff;
  cursor: pointer;
  background-color: #9C3848;
  transition: background-color 0.1s;
}

.index .submit:hover,
.index .submit:focus {
  background-color: #FFAD69;
}
